.project-page {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.project-page .see-all-projects {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: lightgray;
}

.project-page .see-all-projects:hover {
  text-decoration: underline;
}

.project-page .project-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.project-page .project-name {
  font-weight: 600;
  font-size: 2rem;
}

@media (max-width: 600px) {
  .project-page .project-name {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .project-page .project-name {
    font-size: 1rem;
  }
}

.project-page .project-type .overview-content {
  background-color: #26262a;
  padding: 0.2rem 0.5rem;
  width: max-content;
  font-size: 0.9rem;
  border-radius: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.159);
}

.project-page .project-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.project-page .project-buttons a {
  padding: 0.6rem 1.5rem;
  border: 1px solid rgba(128, 128, 128, 0.259);
  color: white;
  border-radius: 0.7rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.project-page .project-buttons a:nth-of-type(2) {
  background-color: white;
  color: black;
}

.project-page .project-overview,
.project-page .project-details {
  padding: 1.5rem;
  display: flex;
  gap: 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  align-items: center;
  overflow: auto;
}

@media (max-width: 600px) {
  .project-page .project-overview,
  .project-page .project-details {
    flex-direction: column;
  }
}

.project-page .project-overview .project-thumbnail,
.project-page .project-details .project-thumbnail {
  width: 100%;
}

.project-page .project-overview img,
.project-page .project-details img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.project-page .project-overview .project-meta,
.project-page .project-details .project-meta {
  padding-block: 0.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-page .project-overview .project-meta .overview-title,
.project-page .project-details .project-meta .overview-title {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.538);
  font-weight: 300;
}

.project-page .project-overview .project-meta .overview-content,
.project-page .project-details .project-meta .overview-content {
  display: block;
  margin-top: 0.5rem;
  text-decoration: none;
  color: lightgray;
}

.project-page .project-overview .project-meta .project-tech-stack .overview-content,
.project-page .project-details .project-meta .project-tech-stack .overview-content {
  font-weight: 300;
  color: lightgray;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
  align-items: center;
}

.project-page .project-overview .project-meta .project-tech-stack .overview-content p,
.project-page .project-details .project-meta .project-tech-stack .overview-content p {
  background-color: var(--pill-color);
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.159);
}

.project-page .project-details {
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

.project-page .project-details .project-details--title {
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
  color: gray;
  padding-bottom: 1rem;
}

.project-page .project-details .project-about,
.project-page .project-details .project-key-features {
  margin-bottom: 1rem;
}

.project-page .project-details .project-about .dot,
.project-page .project-details .project-key-features .dot {
  flex-shrink: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.project-page .project-details ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
}

.project-page .project-details ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.project-page .project-details ul li .icon {
  flex-shrink: 0;
}